@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&display=swap');
.background {
  background-color: #005510;
}
.heed {
  text-align: justify;
  font: Bold;
  color: #fafafa;
}
.pic {
  margin-left: 100px;
}
.f1 {
  font-family: 'Kanit', sans-serif;
}
.f2 {
  font-family: 'Kanit', sans-serif;
}
