/*FooterA*/
.tit {
  position: absolute;
  left: 5.5%;
  right: 79.19%;
  top: 7%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 72px;
  text-align: left;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.tit1 {
  position: absolute;
  left: 4.6%;
  right: 79.19%;
  top: 33%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  text-align: auto;
  letter-spacing: 0.015em;
  color: #ffffff;
}
.main {
  max-height: 550px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}
footer {
  position: relative;
  bottom: 0;
}
.footer-distributed {
  background-color: #000000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
.footer-distributed .footer-company-name {
  position: absolute;
  width: 488px;
  height: 24px;
  left: 85px;
  top: 250px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
}
.data {
  position: absolute;
  left: 70%;
  right: 0%;
  top: 13%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 37px;
  text-align: left;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.follow {
  position: absolute;
  width: 100px;
  height: 10px;
  left: 89%;
  right: 0%;
  top: 250px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
}
.btn-1 {
  position: absolute;
  width: 100px;
  height: 10px;
  left: 88.5%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}
.btn3 {
  position: absolute;
  left: 0;
  right: 0;
  width: 130px;
  height: 40px;
  top: 0;
  background: #21963e;
  border-radius: 6px;
  margin-bottom: 10px;
}
.btn4 {
  position: absolute;
  left: 0;
  right: 0;
  width: 130px;
  height: 40px;
  top: 450%;
  background: #ffffff;
  border-radius: 6px;
}
.fa-facebook-square {
  color: rgb(255, 255, 255);
}
