@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.app {
  font-family: 'Kanit', sans-serif;
}
.bg {
  background-color: #f1f1f1;
  height: 450px;
}
.bg-1 {
  background-color: #e0e0e0;
  border-radius: 0px 84px 84px 0px;
  height: 438px;
}
.day {
  color: rgb(255, 0, 0);
}
.text1 {
  font-size: 45px;
  line-height: 80px;
  line-height: 146%;
  align: Right;
  vertical-align: Center;
  letter-spacing: -1.5%;
}
.text2 {
  font-size: 22px;
  line-height: 30px;
  line-height: 112%;
  align: Right;
  vertical-align: Center;
  letter-spacing: -1.5%;
}
.text3 {
  font-size: 22px;
  line-height: 30px;
  line-height: 112%;
  align: Right;
  vertical-align: Center;
  letter-spacing: -1.5%;
}
