@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
.web1 {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  line-height: 80px;
  line-height: 117%;
  align: Center;
  vertical-align: Top;
  letter-spacing: -1.5%;
  fill: Solid;
  color: #000000;
}
.web2 {
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  line-height: 30px;
  line-height: 137%;
  align: Center;
  vertical-align: Top;
  letter-spacing: -1.5%;
  fill: Solid;
  color: rgba(0, 0, 0, 0.8);
}
